@use '../../scss/' as *;
.container {
  margin: 2rem auto;
  background-color: $primaryGreen;
}
.card {
  @include flexDisplay(row);
  justify-content: space-between;
  min-height: 200px;
  

}
.card-header {
  @include flexDisplay(column);
  padding: 20px;
  width:60%;
  flex-wrap: wrap;
  text-align:left;
  margin-top: 1rem;
}

.card-header_title_span {
  color: $greenText;
  font-size: .8rem;
  
}

.card-header_description {
  color: $greenText;
}

.description-container {
  @include flexDisplay(column);
  margin: 3rem 20px 0rem 20px;
  position: relative;
  z-index: 2;
}

.description-container_time {
  color: $greenText;
  position: relative;
  text-align: left;
  z-index: 2;
}

.description-container_image-container {

}

.description-container_image {
  width: 200px;
  position: relative;
  z-index: 2;
}

.description-container_bg-box {
  background-color: $lightGreen;
  width: 200px;
  height: 150px;
  position: absolute;
  z-index: 1;
  left: -30px;
  top: -5px;

}
.card-header_dropDown {
  background-color: $primaryGreen;
  color: $greenText;
  text-align: center;
  padding: 1rem 0px;
  cursor: pointer;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  width:30%;
}

.active, .card-header_dropDown:hover {
  background-color: $lightGreen;
}
.card-header_dropDown--ingredients{
  font-size:0.8rem
}
.button-container{
  padding-bottom: 10px;
  
 
}
.button-continer_btn{
  border: 1px solid white;
  padding:5px 9px;
  border-radius:40px;
  margin:10px;
  background-color: $primaryGreen;
}