@use '../../scss/'as *;

.hero {
    display: flex;
    background-color: $primaryGreen;
    height: 60vh;


    .hero_text-container {
        text-align: left;

        margin: auto auto;
        position: relative;
        z-index: 2;
        margin-left: 15rem;

        .hero_text-container_bg-box {
            background-color: $lightGreen;
            width: 130px;
            height: 130px;
            z-index: 1;
            position: absolute;
            left: -30px;
            top: -40px;
        }

        .hero_text-container_title {
            font-size: 4em;
            position: relative;
            z-index: 2;
        }

        .hero_btn {
            width: 10rem;
            padding: 2.5rem;
            font-size: 1.12rem;
        }

        .hero_text-container_desc {
            color: $greenText;
            width: 450px;
            font-size: 1.20em;
            position: relative;
            z-index: 2;
        }
    }

    .hero_image-container {
        position: relative;
        z-index: 2;
        margin: 5rem auto 0rem auto;
        width: 45rem;

        .hero_image-container_bg-box {
            background-color: white;
            width: 30rem;
            height: 20rem;
            position: absolute;
            z-index: 1;
            left: -10px;
            top: -40px;
        }

        .hero_image-container_image {
            background-color: $secondaryGreen;
            width: 31rem;
            position: relative;
            z-index: 2;
            filter: drop-shadow(0 0.1em 0.5em #7f8d64);
            margin-right: 52px;
        }
    }
}

.body {
    margin: 0rem auto 0rem auto;

    .body_text-container {
        width: 50%;
        margin: 0rem auto;
    }

    .body_text-container_bg-box-start {
        background-color: $lightBlue;
        width: 130px;
        height: 130px;
        position: relative;
        top: 5rem;
        z-index: -1;
    }

    .body_text-container_title {
        font-weight: bold;
        text-align: left;
        padding-left: 1.2rem;
        font-size: 2rem;
    }

    .body_text-container_list {
        margin-top: 3rem;
        text-align: left;
        padding-left: 1.2rem;
        list-style-type: none;
    
        .body_text-container_item {
            font-size: 1.2rem;
        }
    }

    .body_text-container_line {
        width: 30%;
        margin-top: 6rem;
        margin-left: 30rem;
    }

    .body_text-container_bg-box-end {
        background-color: $lightGreen;
        width: 130px;
        height: 130px;
        position: relative;
        left: 36.8rem;
        bottom: 4rem;
        z-index: -1;
    }
    .steps-board-container-title {
        font-size: 2rem;
        background-color: $lightBlue;
        padding-top: 2rem;
        padding-right: 37rem
    }
}

// Iphone 12 Pro
@media screen and (min-width:390px) and (max-width:890px) {
    .hero {
        flex-direction: column-reverse;
        width: 100%;
        height: 88vh;

        .hero_text-container {
            width: 65%;
            margin-top: 4em;
            margin-left: 5rem;
            font-size: 0.8em;

            .hero_text-container_desc {
                width: 100%;
            }

            .hero_text-container_bg-box {
                top: -1rem;
            }
        }

        .hero_image-container {
            width: 100%;
            margin-bottom: 1em;

            .hero_image-container_bg-box {
                width: 20rem;
                height: 11rem;
                left: 3.1rem;
                top: -2rem;
            }

            .hero_image-container_image {
                width: 18rem;
                margin-right: 0rem;
            }
        }
    }

    .body {

        .body_text-container {
            width: 80%;
            margin: 0rem auto;
        }

        .body_text-container_line {
            width: 50%;
            margin-left: 7rem;
        }

        .body_text-container_bg-box-end {
            left: 11.2rem;
            bottom: 4rem;
        }
        .steps-board-container-title {
            width: 100%;
            padding: 1rem 0rem;
          }
    }

}

// css to Ipad Mini
@media screen and (min-width: 768px) and (max-width:1024px) {
    .hero {
        flex-direction: column-reverse;
        width: 100%;
        height: 70vh;

        .hero_text-container {
            width: 80%;
            margin-top: 2em;
            font-size: 0.9em;

            .hero_text-container_desc {
                width: 100%;
                font-size: 1.5em;
            }

            .hero_text-container_bg-box {
                top: -1rem;
            }
        }

        .hero_image-container {
            width: 60%;
            margin: 5rem 3rem 3rem 3rem;

            .hero_image-container_bg-box {
                width: 30rem;
                height: 18rem;
                left: 4rem;
                top: -2rem;
            }

            .hero_image-container_image {
                width: 30rem;
            }
        }
    }

    .body {
        .body_text-container_line {
            width: 30%;
            margin-left: 24rem;
        }
        .body_text-container_bg-box-end {
            left: 30.1rem;
        }
    }
}