@use '../../scss/' as *;

.hero {
    display: flex;
    background-color: $primaryGreen;
    height: 60vh;
    .hero_text-container {
        text-align: left;
        width: 55vw;
        margin: auto auto;
        position: relative;
        z-index: 2;
        margin-left: 15rem;
        .hero_text-container_bg-box {
            background-color: $lightGreen;
            width: 150px;
            height: 150px;
            z-index: 1;
            position: absolute;
            left: -30px;
            top: -70px;
        }
        .hero_text-container_title {
            font-size: 4em;
            position: relative;
            z-index: 2;
        }
        
        .hero_text-container_desc {
            color: $greenText;
            width: 450px;
            font-size: 1.20em;
            position: relative;
            z-index: 2;
        }
    } 

    .hero_image-container {
        position: relative;
        z-index: 2;
        margin: auto auto;
        width: 45rem;

        .hero_image-container_bg-box {
            background-color: white;
            width: 33rem;
            height: 22rem;
            position: absolute;
            z-index: 1;
            left: -10px;
            top: -40px;

        }
        .hero_image-container_image {
            background-color: $secondaryGreen;
            width: 33rem;
            position: relative;
            z-index: 2;
            filter: drop-shadow(0 0.1em 0.5em #7f8d64);
            
        }
    }
    
}





