.board-container {

    .board-container__card {
        display: grid;
        width: 70%;
        grid-template-columns: 1fr 1fr;
        justify-self: center;
        margin: auto;
    }
}

// Iphone 12 Pro
@media screen and (min-width:390px) and (max-width:890px) {

    .board-container {
      
        .board-container__card {
            grid-template-columns: none;
            width: 80%;
            margin: auto 1.7rem;
        }
    }
}

// css to Ipad Mini
@media screen and (min-width: 768px) and (max-width:1024px) {

    .board-container {
      
        .board-container__card {
            grid-template-columns: 1fr 1fr;
            width: 80%;
            margin: 0rem 0rem;
        } 
    }
}