@use '../../scss/' as *;
.card-container {
    background-color: $primaryBlue;
    width: 320px;
    height: 280px;
    margin-top:100px;
    padding:10px;
    justify-self: center;
    position: relative;
    a {
        text-decoration: none;
        color:$blueText
    }
    .card-container__profile {
        position: relative;
        .card-container__profile__bg-box {
            width:120px;
            height:120px;
            background-color: $secondaryBlue;
            position: absolute;
            top:-70px;
            left:70px;
    
        }
        .card-container__profile__img{
            width:120px;
            position: relative;
            top:-60px;
            filter: drop-shadow(0 0.1em 0.5em #6aadc0);
            
        }
    }
    .card-container__text{
        position: relative;
        top:-50px;
        padding: 0.5rem;
        .card-container__text__cusine{
            color:black;
            font-size: 1.3em;
        }
        .card-container__text__chef-desc {
            margin-top: 0.4rem;
            text-align: left;
        }
        .card-container__rating-price {
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;
        }
        .card-container__text__price {
            text-align: start;
            font-weight: bold;
            margin-top: 1rem;
        }
    }
    .card-container__chef-name{
        position: absolute;
        top:18px;
        left:150px;
        color:white;
        font-size: 3em;
        font-weight: 600;
        filter: drop-shadow(0 0.1em 0.5em #6aadc0);
    }
}
// css to Ipad Mini
@media screen and (min-width: 768px) and (max-width:1024px) {
    .card-container {
        margin-left: 1.8rem;
    }
}