@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200&display=swap');
body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

* {
  margin:0;
  padding: 0;
}