$primaryGreen: #C3E288;
$secondaryGreen: #cce39f;
$lightGreen: #dbeeb7;
$greenText: #6B7755;
$greenButton: #f9fcf2;

$primaryBlue:#b0e6f6;
$secondaryBlue:#9ae1f5;
$lightBlue:#d0f1f9;
$button:#f7fdfe;
$blueText:#4c6166;

$primaryPink:#fbdcec;
$secondaryPink:#fee4f3;
$lightPink:#fde9f4;
$button:#fff9fc;
$pinkText:#624c58;

$primaryOrange:#f2d9ba;
$secondaryOrange:#fee5c8;
$lightOrange:#f8ebd9;
$button:#fdfbf8;
$orangeText:#665b4e;

